@charset "UTF-8";
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes animeon {
  0% {
    top: 0;
    opacity: 0;
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 0 15px; }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 0 15px; } }

@keyframes animeon {
  0% {
    top: 0;
    opacity: 0;
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 0 15px; }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 0 15px; } }

@-webkit-keyframes animeoff {
  0% {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible; }
  100% {
    opacity: 0;
    visibility: visible;
    height: auto;
    overflow: visible; } }

@keyframes animeoff {
  0% {
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible; }
  100% {
    opacity: 0;
    visibility: visible;
    height: auto;
    overflow: visible; } }

@-webkit-keyframes slideron {
  0% {
    top: 0;
    left: 100vw;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%; } }

@keyframes slideron {
  0% {
    top: 0;
    left: 100vw;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%; } }

@-webkit-keyframes slideroff {
  0% {
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    opacity: 1;
    left: -100vw;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

@keyframes slideroff {
  0% {
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    opacity: 1;
    left: -100vw;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

@-webkit-keyframes sliderupon {
  0% {
    top: 100vh;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; } }

@keyframes sliderupon {
  0% {
    top: 100vh;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; } }

@-webkit-keyframes sliderupoff {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    opacity: 1;
    top: -100vh;
    left: 0;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

@keyframes sliderupoff {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    opacity: 1;
    top: -100vh;
    left: 0;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

@-webkit-keyframes angleoneon {
  0% {
    top: 100vh;
    left: 100vw;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; } }

@keyframes angleoneon {
  0% {
    top: 100vh;
    left: 100vw;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    padding: 0 15px;
    height: 100%;
    z-index: 91; } }

@-webkit-keyframes angleoneoff {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    top: -100vh;
    left: -100vw;
    opacity: 1;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

@keyframes angleoneoff {
  0% {
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: 100%; }
  100% {
    top: -100vh;
    left: -100vw;
    opacity: 1;
    visibility: visible;
    height: 100%;
    overflow: visible; } }

:root {
  --header-height: 100px;
  --text-color-change-transition: 0.4s all ease;
  --timeline-circle-demension: 12px;
  --timeline-circle-border: 2px;
  --timeline-margin-left: 20px;
  --testimonial-img-heigh:80px; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  height: 0px; }

::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #cccccc;
  border-radius: 6px; }

::-webkit-scrollbar-corner {
  background-color: #999; }

::-webkit-resizer {
  background-color: #666; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

.relative-container {
  position: relative; }

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #424242;
  -webkit-transition: var(--text-color-change-transition);
  -o-transition: var(--text-color-change-transition);
  transition: var(--text-color-change-transition); }
  html body {
    background-image: url("../img/body_bg.png");
    background-color: #f5f5f5;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed; }
  html a {
    text-decoration: none;
    color: inherit;
    outline: none; }
    html a:hover {
      text-decoration: none;
      color: inherit;
      outline: none; }

.loading-wrapper {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999999999999;
  background-color: #f5f5f5; }
  .loading-wrapper.hide_loading-wrapper {
    display: none; }
  .loading-wrapper .snail {
    position: absolute;
    width: 120px;
    height: 72px;
    top: -webkit-calc(50% - 36px);
    top: calc(50% - 36px);
    left: -webkit-calc(50% - 60px);
    left: calc(50% - 60px); }
    .loading-wrapper .snail .snail-main {
      position: absolute;
      width: 100%; }
    .loading-wrapper .snail .snail-animation {
      position: absolute;
      width: 40px;
      height: auto;
      top: 10px;
      left: 14px;
      -webkit-animation-name: spin;
              animation-name: spin;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }

.mobile_header {
  display: none; }

.switch {
  background: #fff;
  border: 1px solid #d5d5d5;
  height: 40px;
  width: 40px;
  margin: 15px 0 15px 15px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  top: 75px;
  z-index: 999999999999999999;
  left: -webkit-calc(100% - 55px);
  left: calc(100% - 55px);
  -webkit-transition: var(--text-color-change-transition);
  -o-transition: var(--text-color-change-transition);
  transition: var(--text-color-change-transition); }
  .switch i {
    -webkit-transition: var(--text-color-change-transition);
    -o-transition: var(--text-color-change-transition);
    transition: var(--text-color-change-transition); }
  .switch:hover i {
    -webkit-transition: var(--text-color-change-transition);
    -o-transition: var(--text-color-change-transition);
    transition: var(--text-color-change-transition);
    -webkit-transform-origin: 52% 52%;
        -ms-transform-origin: 52% 52%;
            transform-origin: 52% 52%;
    -webkit-transform: rotate(700deg);
        -ms-transform: rotate(700deg);
            transform: rotate(700deg); }

aside {
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 9999;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none; }
  aside.show_toolbar {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    pointer-events: auto; }
  aside .page_color {
    background: #ffffff;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #d5d5d5;
    padding: 15px 15px 20px 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #424242; }
    aside .page_color-colors {
      display: grid;
      margin: 0 auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 35px 35px 35px;
      grid-gap: 5px;
      text-align: center;
      margin-bottom: 22px; }
      aside .page_color-colors .color1 {
        background-color: #7e6df6; }
      aside .page_color-colors .color2 {
        background-color: #F44336; }
      aside .page_color-colors .color3 {
        background-color: #2196F3; }
      aside .page_color-colors .color4 {
        background-color: #FF5722; }
      aside .page_color-colors .color5 {
        background-color: #2eca7f; }
      aside .page_color-colors .color6 {
        background-color: #29B6F6; }
      aside .page_color-colors .color7 {
        background-color: #E91E63; }
      aside .page_color-colors .color8 {
        background-color: #A0F; }
      aside .page_color-colors .color9 {
        background-color: #FF9800; }
      aside .page_color-colors .color10 {
        background-color: #FBC02D; }
      aside .page_color-colors .color11 {
        background-color: #9dd100; }
      aside .page_color-colors .color12 {
        background-color: #26d9ac; }
      aside .page_color-colors div {
        cursor: pointer;
        width: 100%;
        height: 24px;
        color: #fff;
        font-size: 10px;
        line-height: 24px;
        text-align: center; }

.main-header {
  -webkit-transition: var(--text-color-change-transition);
  -o-transition: var(--text-color-change-transition);
  transition: var(--text-color-change-transition);
  padding: 30px 50px;
  background-color: var(--accent-color);
  background-size: cover;
  background-image: url("../img/main_bg.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.main-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px 0px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
  line-height: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff; }

.wrapper .header-row {
  position: fixed;
  width: 100%;
  z-index: 9999999;
  -webkit-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease; }
  .wrapper .header-row.sticked {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1); }
  .wrapper .header-row header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: var(--header-height);
    line-height: var(--header-height);
    -webkit-transition: 0.6s all ease;
    -o-transition: 0.6s all ease;
    transition: 0.6s all ease; }
    .wrapper .header-row header .title a {
      display: inline-block; }
      .wrapper .header-row header .title a h1 {
        font-size: 20px;
        font-weight: 700; }
        .wrapper .header-row header .title a h1 .cChange {
          color: var(--accent-color); }
    .wrapper .header-row header nav ul {
      list-style: none; }
      .wrapper .header-row header nav ul li {
        line-height: 1;
        display: inline-block;
        padding: 8px 0px;
        margin: 0px 20px;
        color: #b8bbbf; }
        .wrapper .header-row header nav ul li:last-child {
          margin: 0px 0px 0px 20px; }
        .wrapper .header-row header nav ul li:hover a {
          opacity: 1; }
          .wrapper .header-row header nav ul li:hover a::before {
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .wrapper .header-row header nav ul li.active a {
          opacity: 1; }
          .wrapper .header-row header nav ul li.active a::before {
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .wrapper .header-row header nav ul li a {
          position: relative;
          color: #49515d;
          opacity: 0.7;
          font-weight: 400;
          outline: none; }
          .wrapper .header-row header nav ul li a::before {
            -webkit-transition: var(--text-color-change-transition);
            -o-transition: var(--text-color-change-transition);
            transition: var(--text-color-change-transition);
            content: "";
            position: absolute;
            width: 86%;
            height: 2px;
            border-radius: 1px;
            background-color: var(--accent-color);
            left: 10%;
            bottom: -30%;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0); }

.wrapper .main {
  border-radius: 15px;
  padding-top: 100px;
  position: relative;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  overflow: hidden; }
  .wrapper .main .container {
    overflow: hidden; }
  .wrapper .main section {
    max-width: 100%;
    visibility: hidden;
    z-index: 90;
    opacity: 0;
    overflow: hidden;
    height: 0;
    position: absolute;
    right: 0;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0); }
  .wrapper .main .current-section {
    position: relative;
    visibility: visible;
    z-index: 90;
    opacity: 1;
    overflow: visible;
    height: auto; }
  .wrapper .main .section-home .main-header {
    padding: 50px; }
    .wrapper .main .section-home .main-header .photo {
      max-width: 280px;
      margin: 0 auto; }
      .wrapper .main .section-home .main-header .photo img {
        position: relative;
        max-width: 100%;
        border: 3px solid #fff;
        margin-bottom: -75px;
        -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
        -webkit-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease; }
        .wrapper .main .section-home .main-header .photo img:hover {
          -webkit-transform: translateY(-10px);
              -ms-transform: translateY(-10px);
                  transform: translateY(-10px);
          -webkit-box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
                  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15); }
    .wrapper .main .section-home .main-header_text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .wrapper .main .section-home .main-header_text .author {
        font-size: 54px;
        font-weight: 700;
        text-align: center;
        color: #fff; }
      .wrapper .main .section-home .main-header_text .profession {
        position: relative;
        width: 100%;
        text-align: center; }
        .wrapper .main .section-home .main-header_text .profession h2 {
          font-size: 18px;
          color: #fff;
          margin: 0 -6px; }
  .wrapper .main .section-home .main-content-about h2 span {
    color: var(--accent-color);
    -webkit-transition: var(--text-color-change-transition);
    -o-transition: var(--text-color-change-transition);
    transition: var(--text-color-change-transition); }
  .wrapper .main .section-home .main-content table {
    width: 100%; }
    .wrapper .main .section-home .main-content table .table_q {
      color: #424242;
      min-width: 120%; }
    .wrapper .main .section-home .main-content table .table_a {
      color: #9E9E9E;
      min-width: 120%; }
    .wrapper .main .section-home .main-content table .cChange {
      -webkit-transition: var(--text-color-change-transition);
      -o-transition: var(--text-color-change-transition);
      transition: var(--text-color-change-transition);
      color: var(--accent-color); }
  .wrapper .main .section-home .main-content .download_button {
    text-align: center;
    outline: none;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: transparent;
    margin-top: 15px;
    padding: 0 21px;
    line-height: 39px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px; }
    .wrapper .main .section-home .main-content .download_button:hover {
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }
  .wrapper .main .section-portfolio .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper .main .section-portfolio .main-header .section-heading {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #fff; }
  .wrapper .main .section-portfolio .main-content .portfolio-filters {
    width: 100%; }
    .wrapper .main .section-portfolio .main-content .portfolio-filters ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .wrapper .main .section-portfolio .main-content .portfolio-filters ul li {
        cursor: pointer;
        -webkit-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        transition: 0.2s all ease;
        margin: 3px 6px;
        padding: 5px 10px;
        color: #9E9E9E;
        list-style: none;
        display: inline-block;
        border-radius: 3px; }
        .wrapper .main .section-portfolio .main-content .portfolio-filters ul li:hover {
          background-color: #eeeeee; }
        .wrapper .main .section-portfolio .main-content .portfolio-filters ul li.active {
          background-color: var(--accent-color);
          color: #fff; }
  .wrapper .main .section-portfolio .main-content .portfolio-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    text-align: center; }
    .wrapper .main .section-portfolio .main-content .portfolio-grid .portfolio-item img {
      width: 100%;
      height: auto; }
  .wrapper .main .section-portfolio .main-content .load-more {
    margin: 30px auto 0;
    outline: none;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: transparent;
    padding: 0 21px;
    line-height: 39px;
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px; }
    .wrapper .main .section-portfolio .main-content .load-more:hover {
      -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }
  .wrapper .main .section-resume .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper .main .section-resume .main-header .section-heading {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #fff; }
  .wrapper .main .section-resume .main-content .title {
    color: #212121;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    margin-bottom: 25px; }
  .wrapper .main .section-resume .main-content .timeline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-left: 2px solid #e0e0e0; }
    .wrapper .main .section-resume .main-content .timeline ul li .timeline-item {
      width: 90%;
      list-style: none;
      margin: 0 0 20px var(--timeline-margin-left);
      padding: 15px 20px 10px;
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
      border-left: var(--timeline-circle-border) solid var(--accent-color);
      position: relative; }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item:hover {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item::before {
        content: "";
        background-color: #fff;
        height: var(--timeline-circle-demension);
        width: var(--timeline-circle-demension);
        border-radius: 50%;
        border: var(--timeline-circle-border) solid var(--accent-color);
        position: absolute;
        top: 16px;
        left: -webkit-calc((var(--timeline-circle-demension) + var(--timeline-circle-border)) / 2 * (-1) - var(--timeline-circle-border) - var(--timeline-margin-left));
        left: calc((var(--timeline-circle-demension) + var(--timeline-circle-border)) / 2 * (-1) - var(--timeline-circle-border) - var(--timeline-margin-left));
        outline: none;
        z-index: 1; }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item::after {
        content: "";
        background-color: var(--accent-color);
        width: 20px;
        height: var(--timeline-circle-border);
        position: absolute;
        top: 21px;
        left: -20px;
        outline: none;
        z-index: 0; }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item-title {
        font-size: 16px;
        line-height: 16px;
        font-family: Montserrat, sans-serif;
        font-weight: 700; }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item-data {
        -webkit-transition: var(--text-color-change-transition);
        -o-transition: var(--text-color-change-transition);
        transition: var(--text-color-change-transition);
        color: var(--accent-color);
        margin-bottom: 8px;
        font-size: 12px;
        display: inline-block; }
      .wrapper .main .section-resume .main-content .timeline ul li .timeline-item-place {
        display: inline-block;
        margin-bottom: 8px;
        font-size: 12px; }
  .wrapper .main .section-resume .main-content .skills {
    width: 75%;
    margin: 30px auto 0; }
    .wrapper .main .section-resume .main-content .skills .title {
      font-weight: bolder;
      font-family: "Montserrat" , sans-serif;
      font-size: 21px;
      text-align: center; }
      .wrapper .main .section-resume .main-content .skills .title span {
        -webkit-transition: var(--text-color-change-transition);
        -o-transition: var(--text-color-change-transition);
        transition: var(--text-color-change-transition);
        color: var(--accent-color); }
    .wrapper .main .section-resume .main-content .skills .progress {
      margin-bottom: 8px;
      color: #212121; }
      .wrapper .main .section-resume .main-content .skills .progress .progress-bar {
        -webkit-transition: var(--text-color-change-transition);
        -o-transition: var(--text-color-change-transition);
        transition: var(--text-color-change-transition);
        background-color: var(--accent-color); }
    .wrapper .main .section-resume .main-content .skills .button-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .wrapper .main .section-resume .main-content .skills .button-wrapper .download_button {
        text-align: center;
        outline: none;
        -webkit-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease;
        font-size: 14px;
        font-weight: 600;
        border: none;
        background: transparent;
        margin-top: 15px;
        padding: 5px 10px;
        line-height: 39px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 3px; }
        .wrapper .main .section-resume .main-content .skills .button-wrapper .download_button:hover {
          -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }
  .wrapper .main .section-services .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper .main .section-services .main-header .section-heading {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #fff; }
  .wrapper .main .section-services .main-content .my-services .title {
    color: #212121;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    margin-bottom: 25px; }
    .wrapper .main .section-services .main-content .my-services .title span {
      color: var(--accent-color);
      -webkit-transition: var(--text-color-change-transition);
      -o-transition: var(--text-color-change-transition);
      transition: var(--text-color-change-transition); }
  .wrapper .main .section-services .main-content .my-services .service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .wrapper .main .section-services .main-content .my-services .service .service-logo {
      width: 120px;
      height: 120px;
      background-size: 64px 64px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);
              box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1); }
      .wrapper .main .section-services .main-content .my-services .service .service-logo:hover {
        -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);
        background-position: 50% 60%; }
      .wrapper .main .section-services .main-content .my-services .service .service-logo.web {
        background-image: url("../img/programming.svg"); }
      .wrapper .main .section-services .main-content .my-services .service .service-logo.optimization {
        background-image: url("../img/optimization.svg"); }
      .wrapper .main .section-services .main-content .my-services .service .service-logo.managment {
        background-image: url("../img/management.svg"); }
      .wrapper .main .section-services .main-content .my-services .service .service-logo.layout {
        background-image: url("../img/layout.svg"); }
    .wrapper .main .section-services .main-content .my-services .service .service-title {
      color: #212121;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      font-size: 17px;
      padding: 25px 0 15px; }
  .wrapper .main .section-services .main-content .my-services .title {
    color: #212121;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 21px; }
  .wrapper .main .section-services .main-content .my-services .testimonial-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    margin: 15px 0; }
    .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial {
      display: inline-block;
      white-space: nowrap;
      width: 100%;
      -webkit-transition: 0.5s all ease-in-out;
      -o-transition: 0.5s all ease-in-out;
      transition: 0.5s all ease-in-out;
      -webkit-transform: translateX(var(--testimonial-position));
          -ms-transform: translateX(var(--testimonial-position));
              transform: translateX(var(--testimonial-position)); }
      .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item {
        position: relative;
        white-space: initial;
        width: var(--testimonial-item-width);
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-top: 1px solid var(--accent-color);
        margin-right: 2%;
        padding: 30px 5px;
        margin-top: 80px; }
        .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-img {
          position: absolute;
          width: var(--testimonial-img-heigh);
          height: var(--testimonial-img-heigh);
          border-radius: 50%;
          top: -webkit-calc(var(--testimonial-img-heigh) / 1.5 * (-1));
          top: calc(var(--testimonial-img-heigh) / 1.5 * (-1));
          left: 18%; }
        .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-company {
          position: absolute;
          top: -23px;
          left: 36%;
          font-size: 10px;
          color: var(--accent-color);
          text-transform: uppercase;
          font-style: italic;
          font-weight: lighter; }
        .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-name {
          position: absolute;
          top: -46px;
          left: 36%;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          color: #212121;
          font-weight: 400; }
    .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial-nav {
      margin: 0 auto; }
    .wrapper .main .section-services .main-content .my-services .testimonial-wrapper button {
      outline: none;
      -webkit-transition: 0.4s all ease;
      -o-transition: 0.4s all ease;
      transition: 0.4s all ease;
      font-size: 14px;
      font-weight: 600;
      border: none;
      background: transparent;
      margin: 15px 5px;
      padding: 0 21px;
      line-height: 39px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
      border-radius: 3px; }
      .wrapper .main .section-services .main-content .my-services .testimonial-wrapper button:hover {
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }
  .wrapper .main .section-blog .main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper .main .section-blog .main-header .section-heading {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #fff; }
  .wrapper .main .section-blog .main-content .blog-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px; }
    .wrapper .main .section-blog .main-content .blog-wrapper .blog-item {
      width: 100%;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      justify-self: center; }
      .wrapper .main .section-blog .main-content .blog-wrapper .blog-item:hover {
        -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2); }
      .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems {
        position: relative;
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems .img_overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0);
          -webkit-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          transition: 0.3s all ease;
          z-index: 10;
          line-height: 100%;
          text-align: center;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems .img_overlay p {
            font-size: 70px;
            color: rgba(255, 255, 255, 0); }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems:hover .img_overlay {
          -webkit-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          transition: 0.3s all ease;
          background-color: rgba(0, 0, 0, 0.4); }
          .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems:hover .img_overlay p {
            color: #fff; }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems img {
          width: 100%; }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems .blog-date {
          position: absolute;
          top: 20px;
          text-align: center;
          right: 20px;
          background: #fff;
          border: 1px solid #e0e0e0;
          padding: .3em;
          color: var(--accent-color);
          min-width: 44px;
          z-index: 10; }
          .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems .blog-date .date-day {
            font-size: 21px;
            margin: 3px 0; }
          .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .img-elems .blog-date .date-month {
            font-weight: 400;
            margin-bottom: 3px;
            font-size: 12px;
            line-height: 1; }
      .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .blog-item-text {
        padding: 12px 18px 21px; }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .blog-item-text .blog-item-heading {
          color: #9e9e9e;
          font-size: .8em;
          font-weight: 400;
          text-align: center; }
        .wrapper .main .section-blog .main-content .blog-wrapper .blog-item .blog-item-text .blog-item-description {
          font-size: 15px;
          color: #212121;
          text-align: center;
          font-weight: 700;
          font-family: "Montserrat", sans-serif; }
  .wrapper .main .section-contact {
    left: 0; }
    .wrapper .main .section-contact .main-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .wrapper .main .section-contact .main-header .section-heading {
        font-size: 44px;
        font-weight: 700;
        text-align: center;
        color: #fff; }
    .wrapper .main .section-contact .main-content .contact-grid {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px; }
      .wrapper .main .section-contact .main-content .contact-grid .title {
        color: #212121;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        font-size: 21px;
        margin-bottom: 25px; }
        .wrapper .main .section-contact .main-content .contact-grid .title span {
          color: var(--accent-color);
          -webkit-transition: var(--text-color-change-transition);
          -o-transition: var(--text-color-change-transition);
          transition: var(--text-color-change-transition); }
      .wrapper .main .section-contact .main-content .contact-grid .map-section {
        width: 100%; }
        .wrapper .main .section-contact .main-content .contact-grid .map-section .info {
          padding-top: 30px;
          font-size: 13px;
          color: #212121; }
          .wrapper .main .section-contact .main-content .contact-grid .map-section .info .info_el {
            padding: 10px 10px 10px 0;
            font-family: "Montserrat", sans-serif;
            font-weight: bolder; }
            .wrapper .main .section-contact .main-content .contact-grid .map-section .info .info_el i {
              color: var(--accent-color);
              -webkit-transition: var(--text-color-change-transition);
              -o-transition: var(--text-color-change-transition);
              transition: var(--text-color-change-transition);
              font-size: 18px;
              height: 36px;
              width: 36px;
              line-height: 36px;
              border-radius: 50%;
              background-color: #f5f5f5;
              text-align: center; }
      .wrapper .main .section-contact .main-content .contact-grid .form-section {
        width: 100%; }
        .wrapper .main .section-contact .main-content .contact-grid .form-section form {
          font-family: "Roboto", sans-serif; }
          .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            border-bottom: 1px solid #e0e0e0; }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group:focus i {
              color: var(--accent-color);
              -webkit-transition: var(--text-color-change-transition);
              -o-transition: var(--text-color-change-transition);
              transition: var(--text-color-change-transition); }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group label {
              -webkit-transition: 0.3s all ease;
              -o-transition: 0.3s all ease;
              transition: 0.3s all ease;
              pointer-events: none;
              position: absolute;
              height: 42px;
              line-height: 42px;
              left: 50px;
              color: #424242;
              opacity: 0.4; }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group i {
              width: 40px;
              line-height: 42px;
              background-color: #fafafa;
              color: #bdbdbd;
              text-align: center; }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group input {
              outline: none;
              border: none;
              padding: 10px 0 10px 12px;
              line-height: 22px;
              font-size: 15px;
              height: auto;
              -webkit-box-shadow: none;
                      box-shadow: none; }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .form-group textarea {
              outline: none;
              border: none;
              padding: 10px;
              height: auto;
              padding: 0;
              width: 100%;
              line-height: 22px;
              font-size: 15px;
              padding: 10px 0 10px 12px; }
          .wrapper .main .section-contact .main-content .contact-grid .form-section form .submit-form {
            text-align: center;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            border: none;
            margin-top: 15px;
            padding: 0 21px;
            line-height: 39px;
            background-color: var(--accent-color);
            -webkit-transition: var(--text-color-change-transition);
            -o-transition: var(--text-color-change-transition);
            transition: var(--text-color-change-transition);
            color: #fff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
            border-radius: 3px; }
            .wrapper .main .section-contact .main-content .contact-grid .form-section form .submit-form:hover {
              -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }

.wrapper footer div {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 28px;
  text-align: center; }

/*
Social button styles ith animation
from site last version
 */
:root {
  --soc_btn_size: 60px;
  /* размер иконок */ }

body {
  padding: 0;
  margin: 0; }

.social-links_new {
  width: 100%;
  text-align: center; }

.soc_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--soc_btn_size);
  height: var(--soc_btn_size);
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  border: 3px solid #f1f1f1;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: var(--accent-color);
  overflow: hidden;
  position: relative; }

.soc_btn a .cChange {
  -webkit-transition: var(--text-color-change-transition);
  -o-transition: var(--text-color-change-transition);
  transition: var(--text-color-change-transition);
  color: var(--accent-color); }

.soc_btn i {
  line-height: var(--soc_btn_size);
  font-size: 26px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear; }

.soc_btn:hover i {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1; }

.soc_btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: var(--accent-color);
  -webkit-transition: var(--text-color-change-transition);
  -o-transition: var(--text-color-change-transition);
  transition: var(--text-color-change-transition);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%; }

.soc_btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%; }

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    left: -10%;
    top: -10%; } }

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    left: -10%;
    top: -10%; } }

.disable-click {
  pointer-events: none; }

@media only screen and (max-width: 992px) {
  :root {
    --header-height: 50px; }
  .mobile_header {
    position: fixed;
    z-index: 999999;
    top: 0;
    width: 100%;
    background-color: var(--accent-color);
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
    height: var(--header-height);
    line-height: var(--header-height); }
    .mobile_header-title {
      font-family: "Montserrat", sans-serif;
      font-size: 18px; }
    .mobile_header-nav-toggle {
      font-size: 21px; }
  .wrapper {
    margin-top: var(--header-height);
    padding-top: 15px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
    .wrapper .header-row {
      z-index: 99999; }
      .wrapper .header-row header {
        height: 0px; }
        .wrapper .header-row header .title.mobile_hidden {
          display: none; }
        .wrapper .header-row header nav {
          position: fixed;
          top: var(--header-height);
          left: 100%;
          z-index: 99999;
          -webkit-transition: 0.4s all ease-in-out;
          -o-transition: 0.4s all ease-in-out;
          transition: 0.4s all ease-in-out;
          background-color: var(--accent-color);
          width: 110vw;
          height: 110vh; }
          .wrapper .header-row header nav.active {
            left: -webkit-calc(100% - 320px);
            left: calc(100% - 320px);
            position: fixed;
            top: var(--header-height); }
          .wrapper .header-row header nav ul {
            background-color: var(--accent-color); }
            .wrapper .header-row header nav ul li {
              display: block; }
              .wrapper .header-row header nav ul li a {
                color: #fff;
                margin: 15px 10px; }
                .wrapper .header-row header nav ul li a::before {
                  background-color: #fff; }
    .wrapper .main {
      padding-top: 0; }
      .wrapper .main section .main-header {
        padding: 50px 30px;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat; }
      .wrapper .main section .main-content {
        padding: 50px 30px;
        background-size: cover;
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat; }
      .wrapper .main .section-home .main-header .photo img {
        margin-bottom: 10px; }
      .wrapper .main .section-home .main-content {
        padding: 50px 30px;
        font-size: 12px; }
        .wrapper .main .section-home .main-content table {
          font-size: 12px; }
        .wrapper .main .section-home .main-content .download_button {
          margin-bottom: 10px; }
      .wrapper .main .section-portfolio .main-content .portfolio-grid {
        grid-template-columns: 50% 50%; }
    .wrapper .author {
      font-size: 30px !important; }
    .wrapper .social-links_new {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-company {
    left: 38%; }
  .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-name {
    left: 38%; }
  .wrapper .main .section-blog .main-content .blog-wrapper {
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 576px) {
  .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item {
    margin-top: 60px; }
    .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-company {
      left: 60%; }
    .wrapper .main .section-services .main-content .my-services .testimonial-wrapper .testimonial .testimonial-item .testimonial-name {
      left: 60%; }
  .wrapper .main .section-blog .main-content .blog-wrapper {
    grid-template-columns: 1fr; }
  .wrapper .main .section-contact .main-content .contact-grid {
    grid-template-columns: 1fr; }
    .wrapper .main .section-contact .main-content .contact-grid .map-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .wrapper .main .section-contact .main-content .contact-grid .map-section h3 {
        -webkit-align-self: baseline;
            -ms-flex-item-align: baseline;
                align-self: baseline; }
      .wrapper .main .section-contact .main-content .contact-grid .map-section ymaps {
        max-width: 230px; }
      .wrapper .main .section-contact .main-content .contact-grid .map-section .info {
        font-size: 12px; } }

@media only screen and (min-width: 375px) and (max-width: 425px) {
  ymaps {
    max-width: 285px !important; } }

@media only screen and (min-width: 425px) and (max-width: 768px) {
  ymaps {
    max-width: 285px !important; }
  .profession {
    height: 36px !important;
    line-height: 18px !important; } }

@media only screen and (max-width: 375px) {
  .social-links_new {
    grid-template-columns: 1fr 1fr !important; }
  .profession {
    height: 36px !important;
    line-height: 18px !important; } }

.animateOn1 {
  -webkit-animation-name: animeon;
          animation-name: animeon;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOff1 {
  -webkit-animation-name: animeoff;
          animation-name: animeoff;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOn2 {
  -webkit-animation-name: slideron;
          animation-name: slideron;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOff2 {
  -webkit-animation-name: slideroff;
          animation-name: slideroff;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOn3 {
  -webkit-animation-name: sliderupon;
          animation-name: sliderupon;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOff3 {
  -webkit-animation-name: sliderupoff;
          animation-name: sliderupoff;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOn4 {
  -webkit-animation-name: angleoneon;
          animation-name: angleoneon;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }

.animateOff4 {
  -webkit-animation-name: angleoneoff;
          animation-name: angleoneoff;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s; }
