//imports
@import "animations";

:root {
  --header-height: 100px;
  --text-color-change-transition: 0.4s all ease;
}
::-webkit-scrollbar { width: 6px;}
::-webkit-scrollbar-button {  background-color: transparent; height: 0px }
::-webkit-scrollbar-track {  background-color: transparent; }
::-webkit-scrollbar-track-piece {  background-color: transparent; height: 0px }
::-webkit-scrollbar-thumb { height: 30px; background-color: #cccccc; border-radius: 6px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #424242;
  transition:  var(--text-color-change-transition);
  body {
    background-image: url("../img/body_bg.png");
    background-color: #f5f5f5;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  a {
    text-decoration: none;
    color: inherit;
    outline: none;
    &:hover {
      text-decoration: none;
      color: inherit;
      outline: none;
    }
  }
}

.mobile_header {
  display: none;
}

aside {
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 9999;
  .switch {
    background: #fff;
    border: 1px solid #d5d5d5;
    height: 40px;
    width: 40px;
    margin: 15px 0 15px 15px;
    line-height: 40px;
    text-align: center;
    position: relative;
    left: calc(100% - 55px);
    transition: var(--text-color-change-transition);
    i {
      transition: var(--text-color-change-transition);
    }
    &:hover {
      i {
        transition: var(--text-color-change-transition);
        transform-origin: 52% 52%;
        transform: rotate(700deg);
      }
    }
  }
  .page_color {
    background: #ffffff;
    transition: 0.5s all ease;
    box-shadow: 0 1px 12px rgba(0,0,0,.1);
    border: 1px solid #d5d5d5;
    padding: 15px 15px 20px 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #424242;
    transform: translateX(100%);
    &.show_toolbar {
      transform: translateX(0);
    }
    &-colors {
      display: grid;
      margin: 0 auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 35px 35px 35px;
      grid-gap: 5px;
      text-align: center;
      margin-bottom: 22px;
      .color1 {
        background-color: #7e6df6;
      }
      .color2 {
        background-color: #F44336;
      }
      .color3 {
        background-color: #2196F3;
      }
      .color4 {
        background-color: #FF5722;
      }
      .color5 {
        background-color: #2eca7f;
      }
      .color6 {
        background-color: #29B6F6;
      }
      .color7 {
        background-color: #E91E63;
      }
      .color8 {
        background-color: #A0F;
      }
      .color9 {
        background-color: #FF9800;
      }
      .color10 {
        background-color: #FBC02D;
      }
      .color11 {
        background-color: #9dd100;
      }
      .color12 {
        background-color: #26d9ac;
      }
      div {
        cursor: pointer;
        width: 100%;
        height: 24px;
        color: #fff;
        font-size: 10px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
.main-header {
  transition: var(--text-color-change-transition);
  padding: 50px;
  background-color: var(--accent-color);
  background-size: cover;
  background-image: url("../img/main_bg.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main-content {
  box-shadow:rgba(0, 0, 0, 0.1) 0px 15px 25px 0px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
  line-height: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
}
.wrapper {
  .header-row {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    transition: 0.6s all ease;
    &.sticked {
      background-color: #fff;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
    }
    header {
      display: flex;
      justify-content: space-between;
      height: var(--header-height);
      line-height: var(--header-height);
      transition: 0.6s all ease;

      .title {
        a {
          display: inline-block;
          h1 {
            font-size: 20px;
            font-weight: 700;
            .cChange {
              color: var(--accent-color);
            }
          }
        }
      }
      nav {
        ul {
          list-style: none;
          li {
            line-height: 1;
            display: inline-block;
            padding: 8px 0px;
            margin: 0px 20px;
            color : #b8bbbf;
            &:last-child {
              margin: 0px 0px 0px 20px;
            }
            &:hover {
              a {
                opacity: 1;
                &::before {
                  transform: scale(1);
                }
              }
            }
            &.active {
              a {
                opacity: 1;
                &::before {
                  transform: scale(1);
                }
              }
            }
            a {
              position: relative;
              color: #49515d;
              opacity: 0.7;
              font-weight: 400;
              outline: none;
              &::before {
                transition: var(--text-color-change-transition) ;
                content: "";
                position: absolute;
                width: 86%;
                height: 2px;
                border-radius: 1px;
                background-color: var(--accent-color);
                left: 10%;
                bottom: -30%;
                transform: scale(0);
              }
            }
          }
        }
      }
    }
  }
  .main {
    border-radius: 15px;
    padding-top: 100px;
    .section {
      .main-header {
        .photo {
          max-width: 280px;
          img {
            position: relative;
            max-width: 100%;
            border: 3px solid #fff;
            margin-bottom: -75px;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
            transition:  0.4s all ease;
            &:hover {
              transform: translateY(-10px);
              box-shadow: 0 18px 24px rgba(0,0,0,.15);;
            }
          }
        }
        &_text {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .author {
            font-size: 54px;
            font-weight: 700;
            text-align: center;
            color: #fff;
          }
          .profession {
            position: relative;
            width: 100%;
            text-align: center;
            h2 {
              font-size: 18px;
              color: #fff;
              //position: relative;
              //backface-visibility: hidden;
              //&:first-child {
              //  top:23px;
              //}
              //&:last-child {
              //  top:-23px;
              //  transform: rotateY(180deg);
              //}
            }
          }
        }
      }
      .main-content {
        table {
          width: 100%;
          .table_q {
            color:#424242;
            min-width: 120%;
          }
          .table_a {
            color: #9E9E9E;
            min-width: 120%;
          }
          .cChange {
            transition: var(--text-color-change-transition);
            color: var(--accent-color);
          }
        }
        .download_button {
          outline: none;
          transition:  0.4s all ease;
          font-size: 14px;
          font-weight: 600;
          border: none;
          background: transparent;
          margin-top: 15px;
          padding:  0 21px;
          line-height: 39px;
          box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.3);
          border-radius: 3px;
          &:hover {
            box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.3);
          }
        }
      }
    }
    .section-portfolio {
      .main-header {
        display: flex;
        justify-content: center;
        .section-heading {
          font-size: 54px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }
      .main-content {
        padding: 30px 50px 50px;
        .portfolio-filters{
          width: 100%;
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
              cursor: pointer;
              transition: 0.2s all ease;
              margin: 3px 6px;
              padding: 5px 10px;
              color: #9E9E9E;
              list-style: none;
              display: inline-block;
              border-radius: 3px;
              &:hover {
                background-color: #eeeeee;
              }
              &.active {
                background-color: var(--accent-color);
                color: #fff;
              }

            }
          }
        }
        .portfolio-grid {
          display: grid;
          width: 100%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-gap: 6px;
          text-align: center;
          .portfolio-item {
            img  {
            width: 100%;
            height: auto;
            }
          }
        }
        .load-more {
          margin: 30px auto 0;
          outline: none;
          transition:  0.4s all ease;
          font-size: 14px;
          font-weight: 600;
          border: none;
          background: transparent;
          padding:  0 21px;
          line-height: 39px;
          box-shadow: 0 0px 2px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.3);
          border-radius: 3px;
          &:hover {
            box-shadow: 0 0px 4px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.3);
          }
        }
      }
    }
  }
  footer {
    div {
      width: 100%;
      margin-top: 34px;
      margin-bottom: 28px;
      text-align: center;
    }
  }
}

/*
Social button styles ith animation
from site last version
 */

:root {
  --soc_btn_size: 60px; /* размер иконок */
}

body {
  padding: 0;
  margin: 0;
}

.social-links_new {
  width: 100%;
  text-align: center;
}

.soc_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--soc_btn_size);
  height: var(--soc_btn_size);
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  border: 3px solid #f1f1f1;
  box-shadow: 0 5px 15px -5px #00000070;
  color: var(--accent-color);
  overflow: hidden;
  position: relative;

}

.soc_btn a .cChange {
  transition: var(--text-color-change-transition);
  color: var(--accent-color);
}

.soc_btn i {
  line-height: var(--soc_btn_size);
  font-size: 26px;
  transition: 0.2s linear;
}

.soc_btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.soc_btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: var(--accent-color);
  transition: var(--text-color-change-transition);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.soc_btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}



//media imports

@import "media";
