:root {
  --header-height: 100px;
  --acent-color:blue;
}
::-webkit-scrollbar { width: 6px;}
::-webkit-scrollbar-button {  background-color: transparent; height: 0px }
::-webkit-scrollbar-track {  background-color: transparent; }
::-webkit-scrollbar-track-piece {  background-color: transparent; height: 0px }
::-webkit-scrollbar-thumb { height: 30px; background-color: #cccccc; border-radius: 6px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #424242;
  transition:  0.3s all ease;
  body {
    background-image: url("../img/body_bg.png");
    background-color: #f5f5f5;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.wrapper {
  header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    line-height: var(--header-height);
    .title {
      a {
        display: inline-block;
        h1 {
          font-size: 20px;
          font-weight: 700;
          .cChange {
            color: var(--acent-color);
          }
        }
      }
    }
    .navigation {
      ul {
        list-style: none;
        li {
          line-height: 1;
          display: inline-block;
          padding: 8px 0px;
          margin: 0px 20px;
          color : #b8bbbf;
          &:last-child {
            margin: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
  .main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 15px 25px 0px;
    &-header {
      padding: 50px;
      background-color: rgba(0,0,255,0.3);
      background-size: contain;
      background-image: url("../img/main_bg.png");
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      .photo {
        max-width: 280px;
        img {
          position: relative;
          max-width: 100%;
          border: 3px solid #fff;
          margin-bottom: -105px;
          box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
          transition:  0.4s all ease;
          &:hover {
            box-shadow: 0 18px 24px rgba(0,0,0,.15);;
          }
        }
      }
      &_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .author {
          font-size: 54px;
          font-weight: 700;
          text-align: center;
        }
        .rotate_profession {
          position: relative;
          h2 {
            font-size: 18px;
            position: relative;
            backface-visibility: hidden;
            &:first-child {
              top:23px;
            }
            &:last-child {
              top:-23px;
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
    &-content {
      font-family: "Roboto", sans-serif;
      padding: 50px;
      line-height: 24px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      table {
        .table_q {
          color:#424242;
        }
        .table_a {
          color: #9E9E9E;
        }
        .cChange {
          color: var(--acent-color);
        }
      }
      .download_button {
        font-size: 14px;
        font-weight: 600;
        border: none;
        background: transparent;
        margin-top: 15px;
        padding:  0 21px;
        line-height: 39px;
        box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.3);
        border-radius: 3px;
        &:hover {
          box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.3);
        }
      }
    }
  }
  footer {
    div {
      width: 100%;
      margin-top: 24px;
      margin-bottom: 18px;
      text-align: center;
    }
  }
}

/*
Social button styles ith animation
from site last version
 */

:root {
  --soc_btn_size: 60px; /* размер иконок */
}

body {
  padding: 0;
  margin: 0;
}

.social-links_new {
  width: 100%;
  text-align: center;
}

.soc_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--soc_btn_size);
  height: var(--soc_btn_size);
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  border: 3px solid #f1f1f1;
  box-shadow: 0 5px 15px -5px #00000070;
  color: var(--primary-color);
  overflow: hidden;
  position: relative;

}

.soc_btn a .cChange {
  color: var(--acent-color);
}

.soc_btn i {
  line-height: var(--soc_btn_size);
  font-size: 26px;
  transition: 0.2s linear;
}

.soc_btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.soc_btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: var(--acent-color);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.soc_btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}