//imports
@import "animations";

:root {
  --header-height: 100px;
  --text-color-change-transition: 0.4s all ease;
  --timeline-circle-demension: 12px;
  --timeline-circle-border: 2px;
  --timeline-margin-left: 20px;
  //--testimonial-position: 0%;
  --testimonial-img-heigh: 80px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  height: 0px
}

::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #cccccc;
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.relative-container {
  position: relative;
  //overflow: hidden; bug
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #424242;
  transition: var(--text-color-change-transition);

  body {
    background-image: url("../img/body_bg.png");
    background-color: #f5f5f5;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }

  a {
    text-decoration: none;
    color: inherit;
    outline: none;

    &:hover {
      text-decoration: none;
      color: inherit;
      outline: none;
    }
  }
}

.loading-wrapper {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999999999999;
  background-color: #f5f5f5;

  &.hide_loading-wrapper {
    display: none;
  }

  .snail {
    position: absolute;
    width: 120px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 60px);

    .snail-main {
      position: absolute;
      width: 100%;
    }

    .snail-animation {
      position: absolute;
      width: 40px;
      height: auto;
      top: 10px;
      left: 14px;
      animation-name: spin;
      animation-timing-function: linear;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }
  }

}

.mobile_header {
  display: none;
}

.switch {
  background: #fff;
  border: 1px solid #d5d5d5;
  height: 40px;
  width: 40px;
  margin: 15px 0 15px 15px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  top: 75px;
  z-index: 999999999999999999;
  left: calc(100% - 55px - 1px);
  transition: var(--text-color-change-transition);

  i {
    transition: var(--text-color-change-transition);
  }

  &:hover {
    i {
      transition: var(--text-color-change-transition);
      transform-origin: 52% 52%;
      transform: rotate(700deg);
    }
  }
}

aside {
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 9999;
  transform: translateX(100%);
  pointer-events: none;
  transition: all 0.3s ease;

  &.show_toolbar {
    transition: all 0.3s ease;
    transform: translateX(-1px);
    pointer-events: auto;
  }

  .page_color {
    background: #ffffff;
    transition: 0.5s all ease;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .1);
    border: 1px solid #d5d5d5;
    padding: 15px 15px 20px 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #424242;

    &-colors {
      display: grid;
      margin: 0 auto;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 35px 35px 35px;
      grid-gap: 5px;
      text-align: center;
      margin-bottom: 22px;

      .color1 {
        background-color: #7e6df6;
      }

      .color2 {
        background-color: #F44336;
      }

      .color3 {
        background-color: #2196F3;
      }

      .color4 {
        background-color: #FF5722;
      }

      .color5 {
        background-color: #2eca7f;
      }

      .color6 {
        background-color: #29B6F6;
      }

      .color7 {
        background-color: #E91E63;
      }

      .color8 {
        background-color: #A0F;
      }

      .color9 {
        background-color: #FF9800;
      }

      .color10 {
        background-color: #FBC02D;
      }

      .color11 {
        background-color: #9dd100;
      }

      .color12 {
        background-color: #26d9ac;
      }

      div {
        cursor: pointer;
        width: 100%;
        height: 24px;
        color: #fff;
        font-size: 10px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

.main-header {
  transition: var(--text-color-change-transition);
  padding: 30px 50px;
  background-color: var(--accent-color);
  background-size: cover;
  background-image: url("../img/main_bg.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.main-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px 0px;
  font-family: "Roboto", sans-serif;
  padding: 50px;
  line-height: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
}

.wrapper {
  .header-row {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    transition: 0.6s all ease;

    &.sticked {
      background-color: #fff;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    }

    header {
      display: flex;
      justify-content: space-between;
      height: var(--header-height);
      line-height: var(--header-height);
      transition: 0.6s all ease;

      .title {
        a {
          display: inline-block;

          h1 {
            font-size: 20px;
            font-weight: 700;

            .cChange {
              color: var(--accent-color);
            }
          }
        }
      }

      nav {
        ul {
          list-style: none;

          li {
            line-height: 1;
            display: inline-block;
            padding: 8px 0px;
            margin: 0px 20px;
            color: #b8bbbf;

            &:last-child {
              margin: 0px 0px 0px 20px;
            }

            &:hover {
              a {
                opacity: 1;

                &::before {
                  transform: scale(1);
                }
              }
            }

            &.active {
              a {
                opacity: 1;

                &::before {
                  transform: scale(1);
                }
              }
            }

            a {
              position: relative;
              color: #49515d;
              opacity: 0.7;
              font-weight: 400;
              outline: none;

              &::before {
                transition: var(--text-color-change-transition);
                content: "";
                position: absolute;
                width: 86%;
                height: 2px;
                border-radius: 1px;
                background-color: var(--accent-color);
                left: 10%;
                bottom: -30%;
                transform: scale(0);
              }
            }
          }
        }
      }
    }
  }

  .main {
    border-radius: 15px;
    padding-top: 100px;
    position: relative;
    perspective: 1500px;

    section {
      //transition: 4s all ease-in-out;
      max-width: 100%;
      visibility: hidden;
      z-index: 90;
      opacity: 0;
      overflow: hidden;
      height: 0;
      position: absolute;
      right: 0;
      transform-origin: 0 0;
      transform: rotate3d(0, 0, 0, 0deg) translate3d(0, 0, 0);
    }

    .current-section {
      position: relative;
      visibility: visible;
      z-index: 90;
      opacity: 1;
      overflow: visible;
      height: auto;
    }

    .section-home {
      //transition: 0.3s all ease-in-out;
      .main-header {
        padding: 50px;

        .photo {
          max-width: 280px;
          margin: 0 auto;

          img {
            position: relative;
            max-width: 100%;
            border: 3px solid #fff;
            margin-bottom: -75px;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
            transition: 0.4s all ease;

            &:hover {
              transform: translateY(-10px);
              box-shadow: 0 18px 24px rgba(0, 0, 0, .15);;
            }
          }
        }

        &_text {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .author {
            font-size: 54px;
            font-weight: 700;
            text-align: center;
            color: #fff;
          }

          .profession {
            position: relative;
            width: 100%;
            text-align: center;

            h2 {
              font-size: 18px;
              color: #fff;
              margin: 0 -6px;
              //position: relative;
              //backface-visibility: hidden;
              //&:first-child {
              //  top:23px;
              //}
              //&:last-child {
              //  top:-23px;
              //  transform: rotateY(180deg);
              //}
            }
          }
        }
      }

      .main-content {
        &-about {
          h2 {
            span {
              color: var(--accent-color);
              transition: var(--text-color-change-transition);
            }
          }
        }

        table {
          width: 100%;

          .table_q {
            color: #424242;
            min-width: 120%;
          }

          .table_a {
            color: #9E9E9E;
            min-width: 120%;
          }

          .cChange {
            transition: var(--text-color-change-transition);
            color: var(--accent-color);
          }
        }

        .download_button {
          text-align: center;
          outline: none;
          transition: 0.4s all ease;
          font-size: 14px;
          font-weight: 600;
          border: none;
          background: transparent;
          margin-top: 15px;
          padding: 0 21px;
          line-height: 39px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .3);
          border-radius: 3px;

          &:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
          }
        }
      }
    }

    .section-portfolio {
      //transition: 0.3s all ease-in-out;
      .main-header {
        display: flex;
        justify-content: center;

        .section-heading {
          font-size: 44px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }

      .main-content {

        .portfolio-filters {
          width: 100%;

          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li {
              cursor: pointer;
              transition: 0.2s all ease;
              margin: 3px 6px;
              padding: 5px 10px;
              color: #9E9E9E;
              list-style: none;
              display: inline-block;
              border-radius: 3px;

              &:hover {
                background-color: #eeeeee;
              }

              &.active {
                background-color: var(--accent-color);
                color: #fff;
              }

            }
          }
        }

        .portfolio-grid {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 6px;
          text-align: center;

          .portfolio-item {
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .load-more {
          margin: 30px auto 0;
          outline: none;
          transition: 0.4s all ease;
          font-size: 14px;
          font-weight: 600;
          border: none;
          background: transparent;
          padding: 0 21px;
          line-height: 39px;
          box-shadow: 0 0px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .3);
          border-radius: 3px;

          &:hover {
            box-shadow: 0 0px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
          }
        }
      }
    }

    .section-resume {
      .main-header {
        display: flex;
        justify-content: center;

        .section-heading {
          font-size: 44px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }

      .main-content {
        .title {
          color: #212121;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
          font-size: 21px;
          margin-bottom: 25px;
        }

        .timeline {
          display: flex;
          border-left: 2px solid #e0e0e0;

          ul {
            li {
              .timeline-item {
                width: 90%;
                list-style: none;
                margin: 0 0 20px var(--timeline-margin-left);
                padding: 15px 20px 10px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
                border-left: var(--timeline-circle-border) solid var(--accent-color);
                position: relative;

                &:hover {
                  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
                }

                &::before {
                  content: "";
                  background-color: #fff;
                  height: var(--timeline-circle-demension);
                  width: var(--timeline-circle-demension);
                  border-radius: 50%;
                  border: var(--timeline-circle-border) solid var(--accent-color);
                  position: absolute;
                  top: 16px;
                  left: calc((var(--timeline-circle-demension) + var(--timeline-circle-border)) / 2 * (-1) - var(--timeline-circle-border) - var(--timeline-margin-left));
                  outline: none;
                  z-index: 1;
                }

                &::after {
                  content: "";
                  background-color: var(--accent-color);
                  width: 20px;
                  height: var(--timeline-circle-border);
                  position: absolute;
                  top: 21px;
                  left: -20px;
                  outline: none;
                  z-index: 0;
                }

                &-title {
                  font-size: 16px;
                  line-height: 16px;
                  font-family: Montserrat, sans-serif;
                  font-weight: 700;
                }

                &-data {
                  transition: var(--text-color-change-transition);
                  color: var(--accent-color);
                  margin-bottom: 8px;
                  font-size: 12px;
                  display: inline-block;
                }

                &-place {
                  display: inline-block;
                  margin-bottom: 8px;
                  font-size: 12px;
                }
              }
            }
          }
        }

        .skills {
          width: 75%;
          margin: 30px auto 0;

          .title {
            font-weight: bolder;
            font-family: "Montserrat", sans-serif;
            font-size: 21px;
            text-align: center;

            span {
              transition: var(--text-color-change-transition);
              color: var(--accent-color)
            }
          }

          .progress {
            margin-bottom: 8px;
            color: #212121;

            .progress-bar {
              transition: var(--text-color-change-transition);
              background-color: var(--accent-color);
            }
          }

          .button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .download_button {
              text-align: center;
              outline: none;
              transition: 0.4s all ease;
              font-size: 14px;
              font-weight: 600;
              border: none;
              background: transparent;
              margin-top: 15px;
              padding: 5px 10px;
              line-height: 39px;
              box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .3);
              border-radius: 3px;

              &:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
              }
            }
          }

        }
      }
    }

    .section-services {
      .main-header {
        display: flex;
        justify-content: center;

        .section-heading {
          font-size: 44px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }

      .main-content {
        .my-services {
          .title {
            color: #212121;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            font-size: 21px;
            margin-bottom: 25px;

            span {
              color: var(--accent-color);
              transition: var(--text-color-change-transition);
            }
          }

          .service {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .service-logo {
              width: 120px;
              height: 120px;
              background-size: 64px 64px;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              border-radius: 50%;
              box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);

              &:hover {
                box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1);
                background-position: 50% 60%;
              }

              &.web {
                background-image: url("../img/programming.svg");
              }

              &.optimization {
                background-image: url("../img/optimization.svg");
              }

              &.managment {
                background-image: url("../img/management.svg");
              }

              &.layout {
                background-image: url("../img/layout.svg");
              }
            }

            .service-title {
              color: #212121;
              font-weight: 700;
              font-family: "Montserrat", sans-serif;
              font-size: 17px;
              padding: 25px 0 15px;
            }
          }

          .title {
            color: #212121;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            font-size: 21px;
          }

          .testimonial-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            margin: 15px 0;

            .testimonial {
              display: inline-block;
              white-space: nowrap;
              width: 100%;
              transition: 0.5s all ease-in-out;
              transform: translateX(var(--testimonial-position));

              .testimonial-item {
                position: relative;
                white-space: initial;
                width: var(--testimonial-item-width);
                display: inline-block;
                border: 1px solid #e0e0e0;
                border-top: 1px solid var(--accent-color);
                margin-right: 2%;
                padding: 30px 5px;
                margin-top: 80px;

                .testimonial-img {
                  position: absolute;
                  width: var(--testimonial-img-heigh);
                  height: var(--testimonial-img-heigh);
                  border-radius: 50%;
                  top: calc(var(--testimonial-img-heigh) / 1.5 * (-1));
                  left: 18%;
                }

                .testimonial-company {
                  position: absolute;
                  top: -23px;
                  left: 36%;
                  font-size: 10px;
                  color: var(--accent-color);
                  text-transform: uppercase;
                  font-style: italic;
                  font-weight: lighter;
                }

                .testimonial-name {
                  position: absolute;
                  top: -46px;
                  left: 36%;
                  font-family: "Roboto", sans-serif;
                  font-size: 15px;
                  color: #212121;
                  font-weight: 400;
                }
              }
            }

            .testimonial-nav {
              margin: 0 auto;
            }

            button {
              outline: none;
              transition: 0.4s all ease;
              font-size: 14px;
              font-weight: 600;
              border: none;
              background: transparent;
              margin: 15px 5px;
              padding: 0 21px;
              line-height: 39px;
              box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .3);
              border-radius: 3px;

              &:hover {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
              }
            }
          }
        }
      }
    }

    .section-blog {
      .main-header {
        display: flex;
        justify-content: center;

        .section-heading {
          font-size: 44px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }

      .main-content {
        .blog-wrapper {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px;

          .blog-item {
            width: 100%;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
            justify-self: center;

            &:hover {
              box-shadow: 0 1px 15px rgba(0, 0, 0, .2);
            }

            .img-elems {
              position: relative;
              transition: 0.3s all ease;

              .img_overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: 0.3s all ease;
                z-index: 10;
                line-height: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                  font-size: 70px;
                  color: rgba(255, 255, 255, 0);
                }
              }

              &:hover {
                .img_overlay {
                  transition: 0.3s all ease;
                  background-color: rgba(0, 0, 0, 0.4);

                  p {
                    color: #fff;
                  }
                }
              }

              img {
                width: 100%;
              }

              .blog-date {
                position: absolute;
                top: 20px;
                text-align: center;
                right: 20px;
                background: #fff;
                border: 1px solid #e0e0e0;
                padding: .3em;
                color: var(--accent-color);
                min-width: 44px;
                z-index: 10;

                .date-day {
                  font-size: 21px;
                  margin: 3px 0;
                }

                .date-month {
                  font-weight: 400;
                  margin-bottom: 3px;
                  font-size: 12px;
                  line-height: 1;
                }
              }
            }

            .blog-item-text {
              padding: 12px 18px 21px;

              .blog-item-heading {
                color: #9e9e9e;
                font-size: .8em;
                font-weight: 400;
                text-align: center;
              }

              .blog-item-description {
                font-size: 15px;
                color: #212121;
                text-align: center;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
              }
            }
          }
        }
      }
    }

    .section-contact {
      left: 0;

      .main-header {
        display: flex;
        justify-content: center;

        .section-heading {
          font-size: 44px;
          font-weight: 700;
          text-align: center;
          color: #fff;
        }
      }

      .main-content {
        .contact-grid {
          display: grid;
          width: 100%;
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px;

          .title {
            color: #212121;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            font-size: 21px;
            margin-bottom: 25px;

            span {
              color: var(--accent-color);
              transition: var(--text-color-change-transition);
            }
          }

          .map-section {
            width: 100%;

            .info {
              padding-top: 30px;
              font-size: 13px;
              color: #212121;

              .info_el {
                padding: 10px 10px 10px 0;
                font-family: "Montserrat", sans-serif;
                font-weight: bolder;

                i {
                  color: var(--accent-color);
                  transition: var(--text-color-change-transition);
                  font-size: 18px;
                  height: 36px;
                  width: 36px;
                  line-height: 36px;
                  border-radius: 50%;
                  background-color: #f5f5f5;
                  text-align: center;
                }
              }
            }
          }

          .form-section {
            width: 100%;

            form {
              font-family: "Roboto", sans-serif;

              .form-group {
                display: flex;
                position: relative;
                border-bottom: 1px solid #e0e0e0;

                &:focus {
                  i {
                    color: var(--accent-color);
                    transition: var(--text-color-change-transition);
                  }
                }

                label {
                  transition: 0.3s all ease;
                  pointer-events: none;
                  position: absolute;
                  height: 42px;
                  line-height: 42px;
                  left: 50px;
                  color: #424242;
                  opacity: 0.4;
                }

                i {
                  width: 40px;
                  line-height: 42px;
                  background-color: #fafafa;
                  color: #bdbdbd;
                  text-align: center;
                }

                input {
                  outline: none;
                  border: none;
                  padding: 10px 0 10px 12px;
                  line-height: 22px;
                  font-size: 15px;
                  height: auto;
                  box-shadow: none;
                }

                textarea {
                  outline: none;
                  border: none;
                  padding: 10px;
                  height: auto;
                  padding: 0;
                  width: 100%;
                  line-height: 22px;
                  font-size: 15px;
                  padding: 10px 0 10px 12px;
                }
              }

              .submit-form {
                text-align: center;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                border: none;
                margin-top: 15px;
                padding: 0 21px;
                line-height: 39px;
                background-color: var(--accent-color);
                transition: var(--text-color-change-transition);
                color: #fff;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .3);
                border-radius: 3px;

                &:hover {
                  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .3);
                }
              }
            }
          }
        }

      }
    }

  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;

  div {
    margin-top: 34px;
    margin-bottom: 28px;
    text-align: center;
  }
}

/*
Social button styles ith animation
from site last version
 */

:root {
  --soc_btn_size: 60px; /* размер иконок */
}

body {
  padding: 0;
  margin: 0;
}

.social-links_new {
  width: 100%;
  text-align: center;
}

.soc_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--soc_btn_size);
  height: var(--soc_btn_size);
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  border: 3px solid #f1f1f1;
  box-shadow: 0 5px 15px -5px #00000070;
  color: var(--accent-color);
  overflow: hidden;
  position: relative;

}

.soc_btn a .cChange {
  transition: var(--text-color-change-transition);
  color: var(--accent-color);
}

.soc_btn i {
  line-height: var(--soc_btn_size);
  font-size: 26px;
  transition: 0.2s linear;
}

.soc_btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.soc_btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: var(--accent-color);
  transition: var(--text-color-change-transition);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.soc_btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

.disable-click {
  pointer-events: none;
}

//media imports

@import "media";


.animateOn1 {
  animation-name: animeon;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOff1 {
  animation-name: animeoff;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOn2 {
  animation-name: slideron;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOff2 {
  animation-name: slideroff;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOn3 {
  animation-name: sliderupon;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOff3 {
  animation-name: sliderupoff;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOn4 {
  animation-name: angleoneon;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

.animateOff4 {
  animation-name: angleoneoff;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

//.animateOn3 {
//  transform-style: preserve-3d;
//  perspective: 800px;
//  transform-origin: 50% 0% 1000px;
//  animation-name: rotationthreedon;
//  animation-iteration-count: 1;
//  animation-fill-mode: forwards;
//  animation-duration: 4s;
//}
//
//.animateOff3 {
//  perspective: 800px;
//  transform-style: preserve-3d;
//  transform-origin: 50% 0% 1000px;
//  animation-name: rotationthreedoff;
//  animation-iteration-count: 1;
//  animation-fill-mode: forwards;
//  animation-duration: 4s;
//}
